extends ./layout.pug

block title
    title Головна

block main
    include ./blocks/_proposition.pug
    include ./blocks/_order.pug
    include ./blocks/_stuff.pug
    include ./blocks/_history.pug
    include ./blocks/_reviews.pug
    include ./blocks/_news.pug
    include ./blocks/_partners.pug
