html {
    font-family: $font-primary;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-family: $font-secondary;
}

h2 {
    @include rem($font-size-secondary);
    color: $color-secondary;
}