html {
    font-family: $font-primary;
}
body {
    overflow-x: hidden;
}
img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

h1, h2, h4 {
    font-family: $font-secondary;
    text-transform: capitalize;
}

h2 {
    @include rem($font-size-secondary);
    color: $color-secondary;
}
h3 {
    // font-family: $font-primary;
    text-transform: capitalize;
    @include rem(24);
    color: $color-secondary;
    line-height: 1.4;
}

.wpcf7-form-control {
    margin: $gutter/2 0;
    padding: $gutter/3;
    border: 2px solid $color-secondary;
}