@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
    margin: 0;
}
.vr__wrapper__about-us {
    background-color: #edecec;
}
.vr__wrapper {
    width: 100%;
}

.vr__container {
    width: 1440px;
    margin: 0 auto;
}

.vr__container__about-us {
    padding-top: 158px;
    padding-bottom: 75px;
}

.vr__container__work {
    width: 1600px;
    position: relative;
}

.vr__row__about-us {
    margin: 0 -15px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.vr__col__about-us {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.vr__col-4 {
    float: left;
    width: 33.333333%;
    overflow: hidden;
}

.vr__vol-4__textarea {
    text-align: center;
    box-sizing: border-box;
    padding: 80px 71px 50px 63px;
}

.vr__col__about-us-4 {
    width: 33.3333333%;
    margin-top: 197px;
    padding-left: 33px;
}

.vr__col__about-us-4 h1 {
    padding: 0;
    margin: 0;
    font-size: 44.25px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.vr__col__about-us-4 p {
    width: 350px;
    font-size: 17px;
    line-height: 22.5px;
    font-weight: 300;
    margin-top: 39px;
    margin-left: 3px;

}

.vr__col__about-us-4 hr {
    width: 16px;
    border: 1px solid #4fa09f;
    margin-left: 0;
    margin-bottom: 48px;
    margin-top: 47px;
}

.vr__button {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding: 21px 34px 19px 35px;
    border: 2px solid #158483;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-left: 3px;
}

.vr__button:hover, .vr__button:active {
    background-color: #158483;
    color: black;
    text-decoration: none;
}

.vr__col__about-us-8 {
    width: 66.6666666%
}

.vr__clearfix::after, .vr__clearfix::before {
    content: "";
    display: table;
    clear: both;
}

.vr__slideshow {
    float: right;
    margin-right: 21px;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.vr__slides {
    display: none;
    animation: fadeIn 1s;
}

.vr__slides__nav {
    position: relative;
}

.vr__slides__nav__btn {
    box-sizing: border-box;
    position: absolute;
    /* padding: 8px 16px; */
    width: 51px;
    height: 51px;
    font-size: 30px;
    background-color: #158483;
    color: white;
}

.vr__slides__nav__btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.vr__slides__nav__btn:hover {
    cursor: pointer;
    color: #4fa09f;
}

.vr__slides__nav__btn-left {
    top: -305px;
    left: -24px;   
}

.vr__slides__nav__btn-right {
    top: -305px;
    right: -22px;
}

.vr__slides__selector {
    text-align: center;
    margin-left: -21px;
    margin-top: 22px;
}

.vr__current {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #aaaaaa;
    margin-right: 13px;
}

.vr__current:hover {
    background-color: #158483;
    cursor: pointer;
}

.vr__current-fill {
    background-color: #158483;
}

.vr__col-4 h1{
    font-family: 'Raleway';
    color: #158483;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 43px;
    letter-spacing: 3.5px;
}

.vr__col-4 p {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: -16px;
    text-align: justify;
}

.vr__hidden {
    visibility: hidden;
}

.vr__col-4 hr {
    width: 48px;
    border: 0.5px solid black;
    margin-top: 9px;
}

.vr__col-4 img {
    display: block;
}

.vr__container__work::after {
    content: "";
    position: absolute;
    top: 600px;
    left: 50%;
    width: 0;
    transform: translate(-50%,0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 11px 0 11px;
    border-color: #ffffff transparent transparent transparent;
}