$border-color: #C6BAB1;
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
  
}

.cart {

    padding: 98px 0 0;
    text-align: center;
    font-family: $font-primary;
    color: $color-primary;
    padding: 300px 0;

    &__header {
        font-family: $font-secondary;
        font-weight: normal;
        line-height: 32px;
        font-size: 30px;
        text-align: center;
        color: $color-secondary;
        padding-bottom: 32px;
    }

  
    &__subheader {
        font-weight: bold;
        line-height: 32px;
        font-size: 14px;
        margin: 4px 0;
        
    }


    &__border {
        border-bottom: 1px solid $border-color;
    }

    &__items {
        font-size: 18px;
        font-weight: 600;
        
    }
    

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 23px 0;
        height: 100%;
        font-size: 18px;
        font-weight: 600;
        &--first {
            border-right: 1px solid $border-color;
        }
        
        &--third {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }
        
    }

    &__coupons {
        padding: 5px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 17px 0px;
    }

    &__coupon {
        border: none;
        border: 1px solid $border-color;
        border-radius: 45px;
        width: 250px;
        margin: 15px 5px;
        min-height: 55px;
        outline: none;
        position: relative;
        padding: 0 55px;
        letter-spacing: 0.1em;
        @include placeholder {
            font-weight: 300;
            font-size: 20px;
            color: #A4A4A4;
        }
        &--label {
            position: relative;
            svg {
                
                position: absolute;
                top: -10px;
                left: -222px;
            }
        }

        
    }

    &__btn {
        padding: 16px 78px;
        border-radius: 45px;
        background-color: $color-primary;
        color: white;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        margin: 15px 5px;
        &--refresh {
            padding: 15px 44px 15px 62px;
            background: #D6EBDC;
            color: #676767;
            position: relative;
            svg {
                position: absolute;
                left: 33px;
                top: 16px;
            }
        }
    }

    &__subtotal {
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding: 16px 0;
        margin: 0;
        letter-spacing: 0.02em;
    }
}

.item {
    &__delete {
        cursor: pointer;

    }

    &__img {
        border: 1px solid $border-color;
        max-width: 30vmin;
    }

    &__quantity {
        display: block;
        text-align: center;
        max-width: 110px;
        width: 80%;
        height: 50px;
    }
}

.delivery {

    &__header {
        font-weight: 600;
        font-size: 18px;
        padding: 25px 0 0px;
        margin-bottom: 15px;
    }

    &__card {
        &--first {
            
            margin-right: 28px;
            padding-right: 65px;
            border-right: 1px solid $border-color;
        }

        &--last {
            margin-left: 35px;
            border-left: 1px solid $border-color;
            padding-left: 65px;
        }
        
    }

    &__district {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        padding: 16px 0px 11px 3px;

    }
    &__inp {
        color: #676767;
        font-size: 15px;
    }

    &__price {
        font-weight: bold;
        font-size: 15px;
    }
}