.city {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: $color-secondary;
    @media screen and (max-width: $medium) {
        margin: 0 15px;
    }
    &__icon {
        max-width: 15px;
        height: 20px;
        margin-right: 8px;
    }
    &__text {
        @include rem(18);
        @media screen and (max-width: $medium) {
            span {
                display: none;
            }
        }
    }
}