.historyAll {
    .imgBackground1{
        position: absolute;
        top: 687px;
        left: -188px;
    } 
    .imgBackground2{
        position: absolute;
        top: 976px;
        right: -194px;
    } 
    h1 {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 54px;
        line-height: 1;
        text-align: center;
    }
    p {
        font-family: $font-primary;
        color: $color-base;
        font-size: 24px;
        font-style: italic;
        text-align: center;
        line-height: 32px;
    }
    
    .row--img{
        background-image: url(../img/historyPage_4_1.png);
        background-position-y: center;
        background-position-x: 100%;
        background-repeat: no-repeat; 
        min-height: 390px;
    }
    .row--imgLeft{
        background-image: url(../img/historyPage_4_1.png);
        background-position-y: center;
        // background-position-x: -100px;
        background-repeat: no-repeat; 
        min-height: 390px;
    }
    .historyAll__text{
       
        span{
            background: #EAAD3A;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            padding-top: 5px;
            
        }
        h2{
            font-family: $font-secondary;
            color: $color-secondary;
            font-size: 36px;
            line-height: 1;
        }
        p {
            font-style: normal;
            text-align: left;
          
        }

    }
}
@media screen and (max-width: $xlarge) {
    .row--img {
        background-position-x: 15% !important;
    }
    .row--imgLeft {
        background-position-x: 90% !important;
    }
    .imgBackground1 {
        display: block;
        width: 60%;
        left: -280px !important;
        top: 75px !important;
    
    }
    .imgBackground2  {
        display: block;
        width: 60%;
        top: 1260px !important;
        right: -295px !important;
    }
    .historyAll {
        text-align: center;
        img {
        //    width: 80%;
          
        }
        .historyAll__img {
            padding-bottom: $gutter/2;
        }
        .historyAll__txt {
            padding-bottom: 100px;
        }
        .row--img{
            // padding-top: 100px;
            // background: none;
        }
        .row--imgLeft{
            // background: none;
        }
        .historyAll__img--stage{
            display: flex;
            justify-content: center;
            align-items: center;
            // padding-top: 100px;

        }
    }
}
@media screen and (max-width: $large) {
    .imgBackground1 {
        left: -200px !important;
        top: 110px !important;
        width: 50%;
    }
    .imgBackground2 {
        top: 1080px !important;
        width: 50%;
        right: -220px !important;
    
    }
    .historyAll {
        .historyAll__img {
            padding-bottom: $gutter/2;
        }
    }
}

@media screen and (max-width: $medium) {
    .historyAll {
       
        &__img {
         
      
        }
        
        .row--img{
            background: none;
        }
        .row--imgLeft{
            background: none;
        }
        .imgBackground2{
            display: none;
        }
    }
}