.history {
    background-image: url('../img/bg--history.jpg');
    background-size: cover;
    min-height: 684px;
    text-align: center;
    padding: 110px 0;
    /* @2x Images (Pixel Ratio of 1.25+) */
    @media only screen and (-o-min-device-pixel-ratio: 5/4),
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 1.25dppx) {
        background-image: url('../img/bg--history@2x.jpg');
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        line-height: 1.3;
        @include rem(30);
        color: $color-secondary;
    }
    &__btn {
        color: $color-secondary;
        font-style: normal;
        font-weight: bold;
        line-height: 1.3;
        @include rem(20);
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
