.nav {
    flex-grow: 1;
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        // max-width: 950px;
        margin-left: -35px;
    }
    &__item {
        text-align: center;
        border-right: 1px solid $color-secondary;
        padding: 0 35px;
    }
    &__link {
        font-family: $font-primary;
        font-weight: 600;
        line-height: 1;
        @include rem(19);
        text-align: center;
        color: $color-secondary;
        text-decoration: none;
        letter-spacing: -.01em;
        transition: ease $timing color;
        &:hover, &:focus {
            text-decoration: underline;
            color: $color-white;
        }
    }
    &__burger {
        display: none;
        width: 42px;
        height: 38px;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        cursor: pointer;
        span {
            display: block;
            height: 5px;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: $color-secondary;
            position: absolute;
            transition: $timing all ease;
            transform-origin: center;
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%) scale(1);
            }
            &:last-child {
                bottom: 0;
                top: auto;
            }
        }
        &.is-active {
            span {
                &:first-child {
                    top: 50%;
                    transform: translateY(-50%) rotateZ(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(-50%) scale(0);
                }
                &:last-child {
                    // top: 50%;
                    bottom: 50%;
                    transform: translateY(50%) rotateZ(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: $xlarge) {
    .nav {
        &__item {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: $large) {
    .nav {
        position: relative;
        padding: 10px 0;
        &__item {
            padding: 0;
            border: none;
            display: flex;
            &:not(:last-child) {
                border-bottom: 1px solid $color-base;
            }
        }
        &__list {
            margin: 0;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            border: 1px solid $color-secondary;
            border-left: none;
            border-right: none;
            width: $container-width-medium - $gutter;
            // display: none;
            z-index: 10;
            background-color: $color-primary;
            transform: translateY(18px);
        }
        &__link {
            padding: 12px 0;
            flex-grow: 1;
            &:focus, &:hover {
                background-color: $color-white;
                text-decoration: none;
            }
        }
        &__burger {
            display: block;
        }
    }
}

@media screen and (max-width: $medium) {
    .nav {
        &__list {
            width: $container-width-small - $gutter;
            display: none;
            transform: translateY(10px);
        }
    }
}

@media screen and (max-width: $small) {
    .nav {
        padding: 5px 0;
        &__list {
            left: -$gutter/2;
            width: 100vw;
            display: none;
        }
    }
}