.news {
    padding-top: 50px;
    padding-bottom: 25px;
    // TODO: COMMENT THIS
    padding-top: 40px;
    h2 {
        text-align: center;
    }
    h3 {
        margin-bottom: 0;
    }
    &__main {
        padding-top: 5px;
        & .col {
            &:hover {
                & img {
                    filter: brightness(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
    a {
        overflow: hidden;
    }
    img {
        margin-bottom: 10px;
        order: 1;
        transition: ease $timing;
        transition-property: transform, filter;
    }
    p {
        @include rem(16);
        line-height: 1.6;
        color: $color-secondary;
        padding-bottom: 20px;
    }
    &__link {
        text-decoration: none;
    }
    & .col {
        display: flex;
        flex-direction: column;
        * {
            order: 1;
        }
        &:nth-child(2) {
            a:first-child {
                order: 2;
                @media screen and (max-width: $medium) {
                    order: 1;
                }
            }
            .news__link h3 {
                margin-top: 10px;
            }
        }
    }
}