.order {
    padding-top: 50px;
    padding-bottom: 263px;
    position: relative;
    &__img {
        position: absolute;
        &--left {
            top: 310px;
            left: -30px;
            img {
                width: 220px;
            }
        }
        &--right {
            top: 500px;
            right: -60px;
            img {
                width: 220px;
            }
        }
    }
    &__header {
        h2 {
            text-align: center;
        }
    }
    &__main {
        padding-top: 30px;
        .item {
            .item__price {
                z-index: 1000;
                position: absolute;
                text-align: center;
                left: 60px;
                top: -28px;

                p {
                    font-family: $font-secondary;
                    color: $color-white;
                    font-size: 36px;
                    margin-top: -131px;
                    margin-left: -11px;
                    margin-bottom: -4px;
                }
                span {
                    font-family: $font-secondary;
                    color: $color-white;
                    font-size: 25px;
                    margin-left: -13px;
                }
            }

            .item__cake {
                border: 4px solid #E8AE30;
                height: 407px;
                text-align: center;

                .item__cake--img{
                    padding-bottom: 25px;
                }
                .item__cake--img img {
                    width: 98%;
                }

                p {
                    text-align: center;
                    font-family: $font-primary;
                    color: $color-secondary;
                    font-size: 19px;
                }
            }
        }
    }
}