.order {
    padding-top: 75px;

    .order__header {
        h1.header--title {
            font-family: $font-secondary;
            color: $color-secondary;
            font-size: 45px;
            text-align: center;
            padding-bottom: 32px;
        }
    }

    .order__main {
        .order_card__wrap {
            .order_card__price {
                z-index: 1000;
                position: absolute;
                text-align: center;
                left: 100px;
                top: -15px;
            }

            .order_card__cake {
                border: 4px solid #E8AE30;
                height: 407px;
                .order__card_cake--img img {
                    width: 342px;
                }
                p {
                    font-family: $font-primary;
                    color: $color-secondary;
                }
            }
        }
    }
}