.order {
    padding-top: 50px;
    padding-bottom: 105px;
    position: relative;
    &__img {
        position: absolute;
        pointer-events: none;
        &--left {
            top: 135px;
            left: 35px;
        }
        &--right {
            top: 280px;
            right: 35px;
        }
    }
    &__header {
        h2 {
            text-align: center;
        }
    }
    // &__main {
    // }
    &-item {
        padding-top: 30px;
        &__price {
            z-index: 1;
            position: absolute;
            text-align: center;
            left: 50px;
            top: 5px;
            p {
                font-family: $font-secondary;
                color: $color-white;
                @include rem(36);
                margin-top: -123px;
                margin-left: -11px;
                margin-bottom: -8px;
            }
            span {
                font-family: $font-secondary;
                color: $color-white;
                @include rem(25);
                margin-left: -15px;
            }
        }
        &__cake {
            // height: 407px;
            text-align: center;
        }
        &__img{
            display: block;
            border: 4px solid $color-primary;
            min-height: 415px;
            width: 100%;
            overflow: hidden;
            background-color: white;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                transition: ease transform $timing;
            }
            &:hover {
                img {
                    transform: scale(.9);
                }
            }
        }
        &__title {
            text-align: center;
            font-family: $font-primary;
            color: $color-secondary;
            @include rem(19);
            margin: 25px 20px 30px;
            display: inline-block;
            text-decoration: none;
            line-height: 1.3;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}