.partners {
    padding-top: 25px;
    h2 {
        text-align: center;
    }
    &__main{
        margin-bottom: 100px;
    }
    .col {
        &:not(:last-child) {
            border-right: 1px solid black;
        }
    }
    &__img {
        img {
            width: auto;
            margin: 0 auto;
        }
    }
}