.partners__header{
    h1.header--title {
        font-family: $font-secondary;
        color:$color-secondary;
        font-size: 45px;
        text-align: center;
    }
}
.partners__main{
    margin-bottom: 100px;
}
.partners__main{
    .partners__main--plyshka{
        text-align: center;
        border-right: 1px solid black;
    }
    .partners__main--niklife{
        text-align: center;
    }
    .partners__main--vyshnya{
        text-align: center;
        border-left: 1px solid black;
    }
}