.proposition {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 60px;
    background-color: $color-tertiary;
    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: $large) {
            padding-bottom: 40px;
        }
    }
    h2 {
        margin: 0;
    }
    p {
        @include rem(30);
        color: $color-base;
        span {
            color: $color-primary;
            font-weight: 900;
        }
    }
    &__pic {
        position: relative;
        img {
            max-width: none;
            width: auto;
            position: relative;
            z-index: 2;
            pointer-events: none;
            @media screen and (max-width: $large) {
                width: 100%;
            }
        }
    }
    &__bg {
        position: absolute !important;
        top: -225px;
        left: -185px;
        z-index: 1 !important;
        width: auto !important;
        @media screen and (max-width: $medium) {
            display: none;
        }
    }
}