@media screen and (max-width: $xlarge){
	
}
@media screen and (max-width: $large){
	.reviews-product__item.bottom{
		display: none;
	}
}
@media screen and (max-width: $medium){
	.reviews-product__item.bottom{
		display: none;
	}
	.reviews-product__form {
		display: flex;
			flex-wrap: wrap;
	}
	.reviews-product__form-item {
		min-width: 80%;
		height: 45px;
		margin-top: 5px;
	}
}
@media screen and (max-width: $small){
	.bottom{
		display: none;
	}
	.reviews-product__form {
		display: flex;
			flex-wrap: wrap;
	}
	.reviews-product__form-item {
		min-width: 80%;
		height: 45px;
		margin-top: 5px;
	}
}

.bottom {
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	margin-bottom: 53px;
}
.rev{
	font-family: $font-primary;
	font-style: normal;
	font-weight: bold;
	line-height: 32px;
	font-size: 12px;
    color: $color-base;
    padding-top: 17px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #dfdfdf;
    border-bottom: none;	
}
.line{
	border-bottom: 1px solid #dfdfdf;
	width: 90%;

}
.reviews-product {
	margin-left: 150px;
	margin-right: 150px;
}
.reviews-product__item {
    margin-left: 18px;
    margin-top: -10px;
    padding-top: 18px;
}
.reviews-product__item--form{
	margin-top: -25px;
}
.txt-large {
	font-family: $font-secondary;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	font-size: 35px;
	color:$color-secondary;
}
.txt-middle {
	font-family: $font-secondary;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	font-size: 18px;
	color:$color-secondary;
}
.txt-small {
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	font-size: 14px;
	color:$color-base;
}
#message {
	width: 100%;
	height: 199px;
}
.txt {
	padding: 15px 25px;
	border: 2px solid #dfdfdf;
	box-sizing: border-box;
}
#btn {
	color:$color-white;
	font-family: $font-primary;
	font-style: normal;
	font-weight: bold;
	line-height: 32px;
	font-size: 20px;
	text-align: center;
	letter-spacing: -0.02em;
	width: 169px;
	height: 47px;
	left: 407px;
	top: 1524px;
	background:$color-primary;
	border-radius: 45px;
	margin-top: 30px;
}
.reviews-product__form {
	display: flex;
	justify-content: center;
}
.reviews-product__form-item {
	width: 50%;
	height: 45px;
	margin-right: 3px;
}
