@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

//fonts
$font_0: Pacifico;
$font_1: cursive;
$font_2: Open Sans;
$font_3: sans-serif;

.your-order {
    &__header {
        margin-top: 100px;

        & h1 {
            font-size: 30px;
            font-family: $font_0;
            line-height: 32px;
            color: #4B2507;
        }
    }
}