@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
 body {
    margin: 0;
}
.dk-wrapper{
    width: 100%;
    background-color: #edecec;
}
.dk-container{
    width: 1440px;
    margin: 0 auto;
    padding-top: 158px;
    padding-bottom: 75px;
    padding-right: 60px;
    padding-left: 60px;
}
.dk-row{
    margin: 0 -15px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}
.dk-col{
    padding: 0 15px;
    float: left;
    /* box-sizing: border-box; */
}
.dk-col-1{
    width: 27%;
    margin-top: 47px;
}
.dk-col-1 h1 {
    padding: 0;
    margin: 0;
}
.dk-col-1 h1 {
    text-transform: uppercase;
}    
.dk-col-1 p {
    width: 350px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
}
.dk-col-1 hr {
    width: 16px;
    border: 1px solid #4fa09f;
    margin-left: 0;
    margin-bottom: 49px;
    margin-top: 52px;
}
.dk-button {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding: 23px 35px;
    border: 2px solid #158483;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.dk-button:hover, .button:focus{
    color: black;
    background-color: #158483;
}
.dk-col-2{
    width: 16.6666666%;
    margin-top: 85px;
}
.dk-col-3{
    width: 16.6666666%;
    margin-top: 85px;
}
.dk-col-4{
    width: 16.6666666%;
    margin-top: 85px;
}
.dk-clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.dk-col h4{
    text-align: center;
    color: #549494;
    font-weight: 700;
    line-height: 0.1; 
}
.dk-col h5{
    text-align: center;
    color: black;
    font-weight: 600;
}