.beetroot
    .beetroot__text Powered by students of the
    a(href="https://beetroot.academy/locations/nikolaev/", target="_blank")
        object(type="image/svg+xml" data="beetroot_logo.svg")
            img(src="./img/beetroot_logo.svg", alt="")