footer.footer
    .container
        .row
            .col.col-3.col-xl-3.col-lg-5.col-md-12
                a(href=NULL).logo.logo--footer
                    object(type="image/svg+xml" data="logo.svg")
                        img(src="./img/logo.svg", alt="")
            .col.col-4.col-xl-4.col-lg-7.col-md-12
                .footer__contacts
                    .footer__title Контакти
                    ul.footer__nav
                        li.footer__item
                            object(type="image/svg+xml" data="time.svg")
                                img(src="./img/icons_footer/time.svg", alt="")
                            .footer__text  Щоденно з 9:00 до 22:00
                        li.footer__item
                            a.footer__link(href="https://goo.gl/maps/Lg3hmexex1G2") 
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="")
                                .footer__text  Миколаїв, вул. Шевченка, 65
                        li.footer__item
                            a.footer__link(href="tel:+") 
                                object(type="image/svg+xml" data="phone.svg")
                                    img(src="./img/icons_footer/phone.svg", alt="")
                                .footer__text  +38(095) 488-40-40
                        li.footer__item
                            a.footer__link(href="mailto:") 
                                object(type="image/svg+xml" data="mail.svg")
                                    img(src="./img/icons_footer/mail.svg", alt="")
                                .footer__text  order@napoleon.mk.ua
                    .footer__divider.hide-lg
            .col.col-5.col-xl-5.col-lg-12.col-md-12
                .footer__location
                    .footer__title Придбати торт
                    ul.footer__nav
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="") 
                                .footer__text 
                                    b Coffee Blues 
                                    | вул. Московська 47
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="")
                                .footer__text
                                    b Brobar 
                                    | вул. Корабелiв 1 (ріг вул. Сiнна)
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="") 
                                .footer__text 
                                    b Шоколад 
                                    | вул. 3-слобідська 51
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="")
                                .footer__text 
                                    b Гіппо 
                                    | вул. Шосейна 15
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="")
                                .footer__text
                                    b Шоколадный Замок 
                                    | пр-т Миру 25, пр-т Центральний 71А, вул. Космонавтів 68
                        li.footer__item
                            a.footer__link(href="")
                                object(type="image/svg+xml" data="location.svg")
                                    img(src="./img/icons_footer/location.svg", alt="")
                                .footer__text 
                                    b Брокклін  
                                    | вул. Потьомкінська, 57