//- Вероника
.information
    .information__wrap
        .container
            .row
                .col.col-7.col-lg-12
                    .information__bg1 
                        img(src="./img/information_img1.png", alt="")
                    .information__text
                        p Заключною частиною кулінарної епопеї став масштабний фінал конкурсу «Миколаївський Наполеон», який відбувся в День міста та став справжнім подарунком на 228-у річницю до дня заснування Миколаєва. Городяни та члени журі обрали переможця. Ним і став цейй ніжний та вишуканий десерт – <b>Миколаївський Наполеон.</b>
                    .information__bg2
                        img(src="./img/information_img2.png", alt="")
                .col.col-5.col-lg-12
                    .information__img
                        img(src="./img/information.png", alt="«Миколаївський Наполеон»")