//- Вероника
.information
    .container
        .row
            .col.col-6
                .information__text
                    p Заключною частиною кулінарної епопеї став масштабний фінал конкурсу «Миколаївський Наполеон», який відбувся в День міста та став справжнім подарунком на 228-у річницю до дня заснування Миколаєва. Городяни та члени журі обрали переможця. Ним і став цейй ніжний та вишуканий десерт – Миколаївський Наполеон.
            .col.col-6
                .information__img
                    img(src="", alt="")