//- Наталья
.news
    .container
        .news__header
            h1.header--title Останні новини
        .news__main
            .row
                .col.col-xl-4.col-md-12
                    img(src="./img/news_img01.png", alt="")
                    a(href="javascript:void(0)").news__link 
                        h2.main--title Розкрито оригінальний рецепт «Миколаївського Наполеону»
                    p.main--text Успішний підприємець, організатор конкурсу «Миколаївський Наполеон» та перший переможець всеукраїнського проекту «Король десертів» ...
                .col.col-xl-4.col-md-12
                    a(href="javascript:void(0)").news__link 
                        h2.main--title «Кондитер за покликанням» з Миколаєва бере участь в шоу «Король десертів»
                    p.main--text Успішний підприємець, організатор конкурсу «Миколаївський Наполеон» та перший переможець всеукраїнського ...
                    img(src="./img/news_img02.png", alt="")
                .col.col-xl-4.col-md-12
                    img(src="./img/news_img03.png", alt="")
                    a(href="javascript:void(0)").news__link 
                        h2.main--title Кондитер з Миколаєва переміг в шоу «Король десертів»
                    p.main--text Кондитер з Миколаєва Олег Чередниченко став переможцем шоу «Король десертів» на телеканалі 1 + 1. Фінал шоу був показаний сьогодні, 24 жовтня ...