//-Костя
.partners
    .container
        .partners__header
            h2 Наші партнери
        .partners__main
            .row
                .col.col-4
                    .partners__main--plyshka
                        img(src="../distribution/img/partners/lvivskya_plyashka.svg", alt="lviv")
                .col.col-4
                    .partners__main--niklife
                        img(src="../distribution/img/partners/niklife.svg", alt="niklife")
                .col.col-4
                    .partners__main--vyshnya
                        img(src="../distribution/img/partners/pyana_vishnya.svg", alt="vishnya")