//-Костя
.partners
    .container
        .partners__header
            h1.header--title Наші партнери
        .partners__main
            .row
                .col.col-4
                    img(src="../distribution/img/partners/lvivskya_plyashka.svg", alt="lviv")
                .col.col-4
                    img(src="../distribution/img/partners/niklife.svg", alt="niklife")
                .col.col-4
                    img(src="../distribution/img/partners/pyana_vishnya.svg", alt="vishnya")