//- Катя Д
.proposition
    .container
        .row
            .col.col-6.col-lg-12
                .proposition__text
                    h2 Акційна Пропозиція
                    p Безкоштовна доставка від 
                        span 2 тортів.
                        br
                        | У вас вдома за 
                        span 60 хвилин
                    a.btn.btn--primary.btn--normal(href="tel:+") Замовити
            .col.col-6.col-lg-12
                .proposition__pic
                    img(src="./img/img--proposition.png", alt="", srcset="./img/img--proposition@2x.png 2x")
                    img(src="./img/bg--proposition.png", alt="", srcset="./img/bg--proposition@2x.png 2x").proposition__bg