//- Катя Д
proposition.proposition
    .proposition
        .container
            .row.row--proposition
                .col
                    .proposition__text
                        h1 Акційна Пропозиція
                        p Безкоштовна доставка від
                        span 2 тортів.
                        p У вас вдома за 
                        span 60 хвилин
                    a.proposition__link(href="tel:+") 
                                object(type="image/svg+xml" data="phone.svg")
                                    img(src="./img/icons_footer/phone.svg", alt="")
                                .footer__text Замовити
                .col
                    .proposition__pic
                        img(src="./img/proposition_cake.png", alt="")
                        img(src="./img/proposition_bg.png", alt="")