//- Кирилл
.rewiews
    h2.rewiews__h2 Відгуки
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
            .swiper-slide
                .slide__top
                    img.slide__top__img(src="", alt="")
                    p.slide__top__text
                .slide__bottom
                   span.slide__bottom__span
                   i.slide__bottom__link 
script(src="distribution/plugins/jquery-3.3.1.min.js")
script(src="distribution/plugins/swiper/swiper.js")
script(src="source/js/modules/_rewiew_swiper-slide.js")
