//- Артур
.products
    .container 
        .row
            .col.col-6
                .products__foto
                img(src="./img/Page-product(cake-big).png", alt="")
            .col-6
                .products__content
                    h3 20 в наявностi
                    h4 Категорія: Солодощі
                    h1 Миколаївський наполеон
                    h2 297 грн
                
                
                <div class="qty mt-5 js-counter">
                    <span class="minus js-minus bg-dark">-</span>
                    <input type="number" class="count js-count" name="qty" value="1">
                    <span class="plus js-plus bg-dark">+</span>
                </div>

                .products__btn
                    input( type='submit',  value='Додати у кошик')

                .products__fotoes
                        img(src="./img/Page-product(small01) .png", alt="")
                        img(src="./img/Page-product(small02).png", alt="")
                        img(src="./img/Page-product(small03).png", alt="")
                        img(src="./img/Page-product(small04).png", alt="")


