//- Артур


.products
    .container 
        .row
            .col.col-6
                .products__foto
                img(src="./img/Page-product(cake-big).png", alt="")
            .col-6
                .products__content
                    h3 20 в наявностi
                    h4 Категорія: Солодощі
                    h1 Миколаївський наполеон
                    h2 297 грн
        .row
            .col    
                .products__fotoes
                    




