//- Препод
.stuff
    .container
        .row
            .col.col-6.col-lg-12
                dl
                    dt Солона Карамель
                    dd: ul: li Ніжна вершкова карамель з нотками 
                        br
                        | морської солі.
                    dt Фісташковий Крем
                    dd: ul: li Додає до композиції яскраво виражений 
                        br
                        | смак фісташкового горіху.
                    dt Абрикосове Кулі
                    dd: ul: li Солодкий джем зі стиглих миколаївських 
                        br
                        | абрикосів.
            .col.col-6.hide-lg
                .stuff__img
                    img(src="./img/img--stuff.png", alt="", srcset="./img/img--stuff@2x.png 2x")
                    img(src="./img/bg--stuff.png", alt="", srcset="./img/bg--stuff@2x.png 2x").stuff__bg