//- Артур
.your-order 
    .container
        .your-order__header
            h1 Дякуємо. Ваше замовлення було отримано.
        .your-order__content
            table
                tr
                    th Номер замовленя: 
                    th Дата:
                    th Всього:
                    th Всього оплати:
                tr.your-order__content--orange-text
                    th 5343  
                    th Грудень 8, 2018
                    th 558 грн.
                    th Готівка при отриманні